[Unit]
Description=minecraft check new versions telegram bot timer
[Timer]
OnCalendar=hourly
Persistent=true  # This ensures the job runs if the system was down during a scheduled time

[Install]
WantedBy=timers.target
